{% extends "goods/goods.html" %}
{% load bootstrap5 %}
{% load bootstrap %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block full_content %}
<section class="section-products">
    <div class="container">
            <div class="row justify-content-center text-center">
                    <div class="col-md-8 col-lg-6">
                            <div class="header">
                                    <h3>лучшие продукты</h3>
                                    <h2>ИГРЫ</h2>
                            </div>
                    </div>
            </div>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
            <button class="btn btn-secondary" style="margin-bottom: 20px;">Скрыть/показать фильтр</button>
            <div class="block_with_text" style="display: none;">
                {% if page_obj.number == 1 %}
                {% if filterset.is_bound %}
                <form action="{% url "goods:index" %}">
                <button type="submit" class="btn btn-info" style="margin:0 10px;">Очистить фильтр</button>
                </form>
                {% endif %}
            <form action="" method="get">
                {{ filterset.form|bootstrap }}
                <input type="submit" class="btn btn-primary" value='Применить' style="margin-top: 20px; margin-bottom: 20px;"/>
              </form>
              {% endif %}

            </div>
                <script type="text/javascript">
                    $('.btn').click(function(){
              $(".block_with_text").fadeToggle(100);
            });  
                </script>
            
            <div class="as-console-wrapper"><div class="as-console"></div></div>
            <div class="row">
                {% if page_obj.paginator.count == 0 %}
                <h1>Похоже, товаров по вашему запросу нет!</h1>
                {% else %}
                {% for game in page_obj %}
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-1" class="single-product">
                                    <div class="part-1" style="background: url({{game.photos.all.first.image.url}}) no-repeat center;    background-size: contain;
                                    height: 100vh;
                                    background-position: center;
                                    background-repeat: no-repeat;">
                                    {% if game.count == 0 %}
                                    <span class="new">НЕ В НАЛИЧИИ</span>
                                    {% elif game.count <= 3 %}
                                    <span class="discount">МАЛО</span>
                                    {% endif %}
                                            <ul>
                                                    <li><form action="{% url "cart:add" id=game.id %}" method="post">
                                                        {% csrf_token %}
                                                        <button class="btn btn-white bg-white btn-md" style="border-radius: 0;">
                                                        <i class="fas fa-shopping-cart"></i>
                                                        </button>
                                                    </form></li>
                                                    {% if request.user.is_authenticated %}
                                                    <li><form action="{% url "goods:add_love" id=game.id pk=request.user.id %}" method="post">
                                                        {% csrf_token %}
                                                        <button class="btn btn-white bg-white btn-md" style="border-radius: 0;">
                                                        <i class="fas fa-heart"></i>
                                                        </button>
                                                    </form></li>
                                                    {% endif %}
                                                    <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                                    <li><a href="{% url "goods:profile" pk=game.id %}"><i class="fas fa-expand"></i></a></li>
                                            </ul>
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title"><a href="{% url "goods:profile" pk=game.id %}">{{ game.name }}</a></h3>
                                            <h4 class="product-price">{{ game.price }}₽</h4>
                                    </div>
                            </div>
                    </div>
                    {% endfor %}
                    
            </div>
            {% endif %}
    </div>
</section>
{% if page_obj.paginator.count > 8 %}
<nav class="pagination-outer" aria-label="Page navigation">
        <ul class="pagination">
                {% if page_obj.has_previous %}
            <li class="page-item">
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                </a>
            </li>
            {% endif %}
                {% for p in paginator.page_range %}
            {% if page_obj.number == p %}
            <li class="page-item active"><a class="page-link" href="?page={{ p }}">{{p}}</a></li>
            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
            <li class="page-item"><a class="page-link" href="?page={{ p }}">{{p}}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next">
                    <span aria-hidden="true">»</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
{% endblock full_content %}