{% extends "goods/goods.html" %}
{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block full_content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{game.photos.all.first.image.url}}" alt="..."></div>
            <div class="col-md-6">
                <div class="small mb-1">id: {{ game.id }}</div>
                <h1 class="display-5 fw-bolder" style="font-size: 40px;">{{ game.name }}</h1>
                <div class="fs-5 mb-5">
                    <span>{{ game.price }}₽</span>
                </div>
                <p class="lead">{{ game.description }}</p>
                <p class="lead">Игра для консоли - {{ game.model_console.name }}</p>
                <p class="lead">Разработчик - {{ game.developer.name }}</p>
                <p class="lead">Жанр - 
                    {{ cat }}
                </p>
                <div class="d-flex">
                    <form action="{% url "cart:add" id=game.id %}" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Добавить в корзину
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}