{% extends "main.html" %}
{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
<div class="text-center border-bottom center">
<form method="post">
    <h1 class="h3 mb-3 fw-normal">Вход</h1>
    {% csrf_token %}
    <div class="form-error">
        {{ form.non_field_errors }}
    </div>
    {% for f in form %}
    <div class='form-floating'>
        {{ f }}
        <label class="form-label" for="{{ f.id_for_label }}">{{f.label}}:</label>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Войти</button>
</form>
</div>
{% endblock content %}